.show{
	display: visible;
}

.hidden{
	display: none;
}

.element{
	margin-bottom: 15px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.desc textarea{

	border:1px solid #6b6b6b;
	padding: 10px;
	width: 50%;

}
.panel-footer{
    background-color: #d9edf7;
    font-size: 1.1em;
}
.panel-footer span{
    padding: 20px;
}

.lg-font{
    font-size: 1.3em;
}

/* ---------------------------------------------- /*
 * Table
/* ---------------------------------------------- */

.table-data{
    padding: 2%;
}
.table-data table{
    width: 90%;
}
.table-data table tbody tr td{
    padding: 4%;
    padding-left: 15%;
    font-size: 1.50rem;
    border:1px solid #dadada;
}
.table-data table tbody tr th{
    padding: 4%;
    padding-left: 2%;
    font-size: 1.6rem;
    border:1px solid #dadada;
}


.table-cat{
    padding: 2%;
}
.table-cat table{
    width: 100%;
}
.table-cat table tbody tr td{
    padding: 4%;
    padding-left: 15%;
    font-size: 1.75rem;
    border-bottom:1px solid #dadada;

}
.table-cat table tbody tr th{
    padding: 4%;
    padding-left: 5%;
    font-size: 2rem;
    border-bottom:1px solid #dadada;
}


.specifications{
    padding: 2%;
}
.specifications table{
    width: 100%;
}
.specifications table tbody tr td{
    padding: 2%;
    padding-left: 15%;
    font-size: 1.50rem;
    border-bottom:1px solid #dadada;
    border-right:1px solid #dadada;
    border-top: 1px solid #dadada;
}
.specifications table tbody tr th{
    padding: 2%;
    padding-left: 5%;
    font-size: 1.6rem;
    border-bottom:1px solid #dadada;
    border-left:1px solid #dadada;
    border-top: 1px solid #dadada;
}

.description p{
    padding: 4%;
    font-size: 1.50rem;
    border:1px solid #dadada;
    white-space: pre-line;
}

.cat-list ul li{
    font-size: 1.6rem;
    text-align: center;
    padding: 1%;
}



@media (max-width : 600px) {

        .table-data table{
        width: 100%;
    }

        .table-data table tbody tr td{
        padding: 4%;
        padding-left: 10%;
    }

        .table-data table tbody tr th{
        padding: 4%;
        padding-right: 15%;
        overflow: hidden;
    }
}

.data{
    font-size: 1.50rem;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
    background: #f5f5f5;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    }

#status,
.status-mes {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    }

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
    }
.crop-sm {
    overflow: hidden;
    text-align: center;
}

.crop-sm img {

    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 230px;
    height: 140px;
    margin-bottom: 10px;
    
}
.crop {
    overflow: hidden;
    text-align: center;
}

.crop img {

    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 270px;
    height: 200px;
    border: 5px solid #d9edf7;
    border-radius: 3px;
    margin-bottom: 10px;
    
}

.crop-lg {
    overflow: hidden;
    text-align: center;
}

.crop-lg img {

    margin: 0 auto;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 400px;
    height: 300px;
    border: 3px solid #d9edf7;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5%;
    
}

.height{
    min-height: 75px;
}

.filters{
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: 1px solid #d9edf7;
}

.mar-l-20{
    margin-left: 20px;
}

.mar-l-40{
    margin-left: 40px;
}
    
.mar-t-b-20{
    margin:20px 0;
}


.radio{
    padding-right: 10px;
}