body{font-family:'Exo 2', sans-serif;font-size:13px;line-height:24px;color:#969595;font-weight:500;background:#fff;}
h1, h2, h3, h4, h5, h6{margin:0 0 15px;color:#313131;font-weight:400;}
h1{font-size:30px;line-height:24px;}
h2{font-size:24px;}
h3{font-size:20px;line-height:24px;}
h4{font-size:18px;line-height:24px;}
h5{font-size:16px;line-height:24px;font-weight:600;}
h6{font-size:14px;line-height:24px;}
hr{border-color:rgba(0,0,0,0.4);}
a{color:#31aae2;text-decoration:none;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
a,
a:active,
a:focus,
a:active{text-decoration:none;outline:none}
a:hover,
a:focus{text-decoration:none;}
ul{margin:0;padding:0;list-style:none;}
.gray-bg{background-color:#f9f9f9;}
.white-bg{background-color:#fff;}
.transparent{background-color:transparent;}
#main-wrapper{background:#fff;}
.btn{padding:10px 30px;margin-bottom:0;font-size:15px;border-radius:0;}
.btn-primary{background-color:#31aae2;border-color:#31aae2;}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary{background-color:#2281ad;border-color:#2281ad;}
.btn-default{color:#313131;background-color:transparent;border-color:#313131;}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default{color:#31aae2;background-color:#ffffff;border-color:#ffffff;}
.btn-black{color:#ffffff;background-color:#313131;border-color:#313131;}
.btn-black:focus,
.btn-black:hover{color:#313131;border-color:#313131;background-color:transparent !important;}
button:focus,
.btn:focus,
.btn:active:focus{outline:none;}
.contact-btn{padding:10px 50px;font-size:1.5em;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-40{padding-top:40px;}
.pt-100{padding-top:100px;}
.pt-120{padding-top:120px;}
.pb-18{padding-bottom:18px;}
.pb-20{padding-bottom:20px;}
.pb-25{padding-bottom:25px;}
.pb-40{padding-bottom:40px;}
.pb-150{padding-bottom:150px;}
.ptb-50{padding-bottom:50px;padding-top:50px;}
.ptb-20{padding-bottom:20px;padding-top:20px;}
.ptb-90{padding-bottom:90px;padding-top:90px;}
.ptb-100{padding-top:100px;padding-bottom:100px;}
.ptb-150{padding-top:150px;padding-bottom:150px;}
.ptb-160{padding-top:160px;padding-bottom:160px;}
.ptb-170{padding-top:170px;padding-bottom:170px;}
.ptb-200{padding-top:200px;padding-bottom:200px;}
@media (min-width:768px){.pl-30{padding-left:30px;}
.pr-30{padding-right:30px;}
}
.mt-20{margin-top:20px;}
.mt-50{margin-top:50px;}
.mt-60{margin-top:60px;}
.ml-5{margin-left:5.5%;}
.mtb-40{margin-top:40px;margin-bottom:40px;}
@media (max-width:992px){.ml-5{margin-left:8%;}
}
@media (max-width:766px){.ml-5{margin-left:10%;}
}
@media (max-width:446px){.ml-5{margin-left:22%;}
}
.text-highlights{color:#ffffff;padding:0px 5px;}
.text-highlights.black{background:#313131;}
.text-highlights.blue{background:#31aae2;}
.page-header{padding-bottom:0;margin:100px 0;border-bottom:0;}
.page-header h1{font-size:70px;line-height:70px;color:#ffffff;font-weight:400;text-transform:capitalize;margin-bottom:30px;font-family:'Montserrat', sans-serif;}
.page-header .sub-title{display:block;font-size:40px;line-height:40px;color:rgba(255, 255, 255, 0.5);font-weight:700;text-transform:uppercase;font-family:'Montserrat', sans-serif;}
@media (max-width:766px){.page-header h1{font-size:44px;line-height:44px;}
.page-header .sub-title{font-size:30px;line-height:30px;}
}
.feature-section{background:url(../../assets/img/feature-bg.jpg) no-repeat;background-size:cover;}
#toTop{position:fixed;bottom:30px;right:30px;color:#31aae2;cursor:pointer;display:none;z-index:9999;width:30px;height:30px;border:2px solid #31aae2;text-align:center;font-size:18px;line-height:24px;}
#toTop:hover{color:#ffffff;background-color:#31aae2;border:1px solid transparent;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.repair-page-section{background:url(/img/repair.jpg) no-repeat center center #fff;}
.sell-page-section{background:url(/img/sell.jpg) no-repeat center center #fff;}
.buy-page-section{background:url(/img/buy.jpg) no-repeat center center #fff;}
.about-page-section{background:url(/img/about.jpg) no-repeat center center #fff;}
.contact-page-section{background:url(/img/contact.jpg) no-repeat center center #fff;}
.product-page-section{background:url(/img/products.jpg) no-repeat center center #fff;}
.products-page-section{background:url(/img/products.jpg) no-repeat center center #fff;}
.bck-img{background:url(/img/category.jpg) no-repeat center center #fff;}
.borers-img{background:url(/img/categories/borers.jpg) no-repeat center center #fff;}
.grinders-img{background:url(/img/categories/grinders.jpg) no-repeat center center #fff;}
.milling-img{background:url(/img/categories/milling.jpg) no-repeat center center #fff;}
.centers-img{background:url(/img/categories/centers.jpg) no-repeat center center #fff;}
.lathes-img{background:url(/img/categories/lathes.jpg) no-repeat center center #fff;}
.forging-img{background:url(/img/categories/forging.jpg) no-repeat center center #fff;}
.presses-img{background:url(/img/categories/presses.jpg) no-repeat center center #fff;}
.robots-img{background:url(/img/categories/robots.jpg) no-repeat center center #fff;}
@media screen and (max-width:768px){.navbar-collapse.collapse{display:none !important;}
.navbar-default{background-color:rgba(0,0,0,0.9) !important;padding:10px 0;border-bottom:none;}
}
@media (min-width:768px){.navbar-default{background-color:rgba(0,0,0,0.7);padding:28px 0;border-color:rgba(49, 170, 226, 0.8);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.sticky-nav.navbar-default{background-color:rgba(0,0,0,0.7);padding:15px 0;}
.navbar-right .dropdown-menu{right:auto;}
}
.navbar-default{margin-bottom:1;}
.navbar-brand{padding-top:0;padding-bottom:0;height:60px;}
.navbar-brand img{height:60px;padding-bottom:0;}
@media (max-width:768px){.navbar-brand{width:60%;}
}
.navbar-default .navbar-nav > li{margin-right:17px;}
.navbar-default .navbar-nav > li:last-child{margin-right:0px;}
.navbar-default .navbar-nav > li > a{color:#ffffff;font-size:13px;font-weight:700;padding:8px 17px;border:2px solid transparent;border-radius:2px;text-transform:uppercase;}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{color:#ffffff;background-color:transparent;border:2px solid #ffffff;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{color:#ffffff;background-color:transparent;border:2px solid #ffffff;}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{color:#ffffff;}
.nav-cta{float:right;margin-right:40px;margin-left:20px;line-height:40px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.nav-cta > li > a{display:inline-block;color:#ffffff;width:20px;height:34px;line-height:34px;text-align:center;}
.nav-cta .dropdown-menu{left:auto;right:0;}
.head-search{width:370px;}
.head-search{padding:8px;}
.head-search .form-control{height:40px;}
.head-search .btn{padding:10px 20px;}
.dropdown-menu{display:inherit;top:100% !important;padding:0;font-size:16px;opacity:0;visibility:hidden;border:none;border-radius:0;box-shadow:none;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;-webkit-transform:translateY(50px);-moz-transform:translateY(50px);transform:translateY(50px);}
.dropdown:hover .dropdown-menu{display:block;margin-top:28px !important;opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);}
.dropdown-menu::before{top:-30px;content:"";position:absolute;width:100%;height:30px;display:block;}
.sticky-nav .dropdown:hover .dropdown-menu{margin-top:16px !important;}
.dropdown-header{font-size:11px;line-height:30px;font-weight:600;color:#313131;text-transform:uppercase;}
.dropdown-menu .col-sm-3{padding-top:0 !important;border-top:5px solid rgba(49, 170, 226, 0.8);}
.dropdown-menu .col-sm-3 .panel-heading{border-right:1px solid rgba(49, 170, 226, 0.8);}
.dropdown-menu li:last-child .col-sm-3 .panel-heading{border-right:none;}
.dropdown-menu li a{display:block;font-size:14px;line-height:30px;color:#ffffff;padding:3px 20px;}
.dropdown-menu .panel-collapse a{text-decoration:underline;}
.dropdown-menu li a:hover{color:#31aae2;padding-left:25px;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{color:#31aae2;padding-left:25px;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{color:#000000;}
.dropdown-menu .panel{background-color:transparent;border:none;}
.dropdown-menu .panel-collapse .panel-body{background-color:rgba(0,0,0,0.6);}
.dropdown-menu .panel-heading{background-color:rgba(0,0,0,0.7);border-radius:0;}
.m-menu .nav,
.m-menu .collapse,
.m-menu .dropup,
.m-menu .dropdown{position:static;}
.m-menu .container{position:relative;}
.m-menu .dropdown-menu{left:auto;}
.m-menu .m-menu-content{}
.m-menu .dropdown.m-menu-fw .dropdown-menu{left:15px;right:15px;}
.m-menu-content ul{padding:20px 0;}
.m-menu-content ul:last-of-type{border-right:0;}
@media (max-width:768px){.navbar-toggle{display:block;}
}
.navbar-toggle{position:absolute;right:0;padding:5px 10px;border:0;border-radius:0;}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{background-color:transparent;}
.navbar-toggle .icon-bar{width:14px;height:3px;}
.navbar-default .navbar-toggle .icon-bar{background-color:#ffffff;}
.navbar-toggle .icon-bar + .icon-bar{margin-top:2px;}
.uc-mobile-menu{}
.uc-mobile-menu-container > div{visibility:hidden;}
#menu{margin:50px 40px;}
#menu > li{text-transform:uppercase;}
#menu > li:last-child{border-bottom:0;}
#menu > li ul li{margin-left:0;color:#ffffff;}
#menu li a{display:block;text-decoration:none;color:#ffffff;padding:10px 0;font-size:16px;border-bottom:1px dotted #444;}
#menu li a:hover,
#menu li.active a{color:#31aae2;}
.img-wrap img{margin:0 auto;}
.centerd{text-align:center;}
.uc-mobile-menu .close{position:absolute;right:0;top:0;color:#ffffff;text-shadow:none;filter:alpha(opacity=50);opacity:.5;width:44px;height:44px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.uc-mobile-menu .close:hover{opacity:1;}
.hero-slide .carousel-caption{bottom:50%;text-shadow:none;transform:translateY(50%);}
.hero-slide .carousel-caption h1{font-size:60px;line-height:1;font-weight:bold;text-transform:uppercase;color:#ffffff;}
.hero-slide .carousel-caption h2{font-size:30px;line-height:1;font-weight:bold;text-transform:uppercase;color:#ffffff;}
.hero-slide .carousel-caption p{font-size:20px;color:#ffffff;font-weight:normal;}
.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right{width:50px;height:50px;line-height:46px;top:50%;margin-top:-25px;background:transparent;cursor:pointer;border:2px solid #ffffff;text-shadow:none;}
.hero-slide .carousel-control.left{left:1%;}
.hero-slide .carousel-control.right{right:1%;}
.hero-slide .carousel-indicators{bottom:60px;}
.hero-slide .carousel-indicators li{border:1px solid #ffffff;}
@media screen and (max-width:768px){.hero-slide{margin-top:60px;}
.hero-slide .carousel-caption h1{font-size:24px;}
.hero-slide .carousel-indicators{bottom:20px;}
.hero-slide .carousel-caption p{font-size:12px;}
}
@media(max-width:446px){.hero-slide{line-height:15px;}
.hero-slide .carousel-caption h1{font-size:18px;margin-bottom:none;}
}
.section-title{margin-bottom:50px;}
.section-title h1{margin-left:2.5%;}
.section-title h2{font-size:30px;position:relative;}
.section-title span.bordered-icon{color:#dadada;padding:0 10px;font-size:12px;line-height:18px;position:relative;display:inline-block;margin-bottom:2%;}
.section-title span.bordered-icon:before,
.section-title span.bordered-icon:after{content:"";background:#dadada;width:50px;height:1px;top:8px;position:absolute;}
.section-title span.bordered-icon:before{left:100%;}
.section-title span.bordered-icon:after{right:100%;}
.x-features{background:#fff;padding:20px 0;}
.x-features .section-title h2{color:#000;}
.x-features .bordered-icon{margin:0 auto;}
.x-features .section-title{margin-bottom:0;}
.client-logo{}
.client-logo span img{width:100%;opacity:0.5;-webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;transition:all 0.8s ease 0s;}
.client-logo span:hover img{opacity:1;}
@media (max-width:992px){.client-logo .section-margin{margin-bottom:30px;}
}
.page-title{background-size:cover;width:100%;background-attachment:fixed;padding:10% 0 8%;position:relative;}
.page-title::before{position:absolute;content:"";top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);}
.page-title h2{display:inline-block;font-size:72px;text-transform:uppercase;font-weight:700;margin-bottom:0;color:#fff;position:relative;z-index:1;}
@media (max-width:992px){.page-title h2{font-size:30px;padding-top:20%;}
}
.x-accordion >.panel-group{-webkit-box-shadow:1px -8px 47px -15px rgba(0,0,0,0.29);-moz-box-shadow:1px -8px 47px -15px rgba(0,0,0,0.29);box-shadow:1px -8px 47px -15px rgba(0,0,0,0.29);}
.x-accordion .panel-group .panel+.panel{margin-top:0px;}
.x-accordion .panel-group{margin-bottom:10px;}
.x-accordion .panel-default{border:0;}
.x-accordion .panel{background-color:rgba(0,0,0, 0.4);border-radius:0;}
.x-accordion .panel .panel-heading{height:100%;-webkit-box-shadow:-1px -8px 31px -1px rgba(0,0,0,0.25);-moz-box-shadow:-1px -8px 31px -1px rgba(0,0,0,0.25);box-shadow:-1px -8px 31px -1px rgba(0,0,0,0.25);}
.x-accordion .panel-group .panel-default .panel-heading .panel-title a:hover{color:#31aae2;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;-webkit-transform:translateX(7px);-moz-transform:translateX(7px);transform:translateX(7px);}
.x-accordion .panel .panel-heading a{display:block;padding:12px 30px;color:#31aae2;}
.x-accordion .panel .panel-heading a.collapsed{color:#fff;padding:12px 30px;}
.x-accordion .panel-default>.panel-heading{border-radius:0px;padding:0;border:1px solid rgba(0,0,0, 0.2);background:rgba(0,0,0, 0.5);}
.x-accordion .panel-group .panel-heading+.panel-collapse>.panel-body{border-top:0;padding:10px 30px 30px 30px;}
.x-accordion .panel-body .panel-body{text-transform:uppercase;text-align:right;background-color:rgba(0,0,0,0.5);border:1px solid rgba(49, 170, 226, 0.8);}
.x-accordion .panel-body .panel-body a{color:#fff;font-size:14px;text-decoration:underline;}
.x-accordion .panel-body .panel-body a:hover{color:#31aae2;}
@media screen and (max-width:768px){.x-accordion .panel-group{margin-bottom:50px;}
}
.tabOne{}
.tabOne .nav-tabs{border:1px solid #eee;border-bottom:none;}
.tabOne .nav-tabs.nav-justified li{border-right:1px solid #eee;border-bottom:1px solid #eee;}
.tabOne .nav-tabs.nav-justified li.active{border-bottom:1px solid transparent;}
.tabOne .nav-tabs.nav-justified li:last-child{border-right:0;}
.tabOne .nav-tabs.nav-justified>li>a{border:0;border-radius:0;background-color:#f9f9f9;color:#969595;height:50px;line-height:50px;padding:0 15px;}
.tabOne .nav-tabs.nav-justified>.active>a,
.tabOne .nav-tabs.nav-justified>.active>a:focus,
.tabOne .nav-tabs.nav-justified>.active>a:hover{border:0;background-color:transparent;color:#31aae2;}
@media (min-width:768px){.tabOne .tab-content{border:1px solid #eee;padding:30px;border-top:0;overflow:hidden;}
}
@media screen and (max-width:600px){.tabOne .tab-content{margin-top:30px;}
}
.tabOne .tab-pane img{margin-top:8px;}
.tabOne .tab-pane img.pull-left{margin-right:20px;}
.tabOne .tab-pane img.pull-right{margin-left:20px;}
.tabOne .panel-body img{margin-top:8px;}
.tabOne .panel-body img.pull-left{margin-right:20px;}
.tabOne .panel-body img.pull-right{margin-left:20px;}
.tabOne .tab-pane p{margin-bottom:15px;}
.tabOne .tab-pane p:last-of-type{margin-bottom:0;}
#googleMap{height:500px;}
.form-group{margin-bottom:20px;}
.form-control{height:53px;padding:6px 20px 6px 30px;font-size:13px;line-height:24px;color:#969595;border:2px solid rgba(0,0,0,0.4);border-radius:0;box-shadow:none;}
.form-control:focus{border:2px solid #31aae2 !important;box-shadow:none;}
.contact-form{}
.contact-form h2{line-height:36px;margin-bottom:45px;}
.user-message textarea{min-height:272px;padding-top:12px;}
.text-lg textarea{min-height:310px;}
.contact-form form button{margin-top:10px;}
.user-name,
.user-title,
.user-company,
.user-email,
.user-phone,
.user-url,
.user-message{position:relative;}
.user-name::after,
.user-title::after,
.user-company::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-message::after{position:absolute;left:15px;top:15px;font-family:"FontAwesome";color:#dadada;}
.user-name::after{content:"\f007";}
.user-email::after{content:"\f003";}
.user-phone::after{content:"\f095";}
.user-url::after{content:"\f0ac";}
.user-title::after{content:"\f040";}
.user-message::after{content:"\f086";}
.user-company::after{content:"\f015";}
.footer{background:#313131;}
.footer .footer-block{border-right:1px solid #3a3a3a;padding:60px 40px 20px 40px;min-height:280px;}
@media (min-width:992px) and (max-width:1199px){.footer .footer-block{padding:60px 50px;}
}
@media (min-width:768px) and (max-width:991px){.footer .footer-block{padding:50px 15px;}
}
@media (max-width:767px){.footer .footer-block{padding:30px 15px;min-height:inherit;}
}
.footer .footer-block.last{border-right:0;}
.footer .footer-widget h3{font-size:16px;line-height:22px;color:#ffffff;margin-bottom:25px;}
.footer .widget_text{}
.footer .footer-logo{margin:0 auto;max-width:200px;height:auto;margin-bottom:20px;}
.footer .footer-widget .btn{font-size:11px;padding:5px 18px;border-radius:50px;color:#6b6b6b;border:1px solid #4a4a4a;margin-top:40px;}
.footer .footer-widget .btn:hover{color:#ffffff;background-color:#31aae2;border:1px solid transparent;}
.footer .footer-widget address{line-height:22px;margin-bottom:30px;}
.footer .footer-widget .social-links{}
.footer .footer-widget .social-links li a{display:block;font-size:20px;width:42px;height:42px;color:#6b6b6b;background-color:#4a4a4a;line-height:42px;text-align:center;border-radius:50%;}
.footer .footer-widget .social-links li a:hover{color:#ffffff;background-color:#31aae2;}
.footer .copyright-section{background-color:#2d2d2d;color:#6b6b6b;padding:20px 0;}
.footer .copyright-section .copytext{text-transform:uppercase;color:#6b6b6b;font-weight:600;}
@media (min-width:768px){.footer .copyright-section .list-inline > li{padding-right:10px;padding-left:10px;}
}
.footer .copyright-section li a{display:block;font-size:13px;color:#6b6b6b;}
.footer .copyright-section li a:hover,
.footer .copyright-section li.active a{color:#ffffff;}
#preloader{background:#f5f5f5;bottom:0;left:0;position:fixed;right:0;top:0;z-index:9999;}
#status,
.status-mes{background-image:url(../img/preloader.gif);background-position:center;background-repeat:no-repeat;height:200px;left:50%;margin:-100px 0 0 -100px;position:absolute;top:50%;width:200px;}
.status-mes{background:none;left:0;margin:0;text-align:center;top:65%;}
.divider:before{content:"";position:absolute;left:0;bottom:8%;width:1px;height:92%;border-left:1px solid #dadada;}
.b-divider:before{content:"";position:absolute;left:8%;bottom:0;height:1px;width:80%;border-bottom:1px solid #dadada;}
.divider:first-child:before{border-left:0px;}
@media (max-width:992px){.divider:nth-child(3):before{border-left:0px;}
.b-divider:before{left:10%;bottom:4%;width:80%;border-bottom:1px solid #dadada;}
}
@media (max-width:768px){.divider:before{border-left:0px;}
.b-divider:before{left:10%;bottom:3%;width:80%;border-bottom:1px solid #dadada;}
}
.table-data{padding:2%;}
.table-data table{width:90%;}
.table-data table tbody tr td{padding:4%;padding-left:15%;font-size:1.50rem;border:1px solid #dadada;}
.table-data table tbody tr th{padding:4%;padding-left:2%;font-size:1.6rem;border:1px solid #dadada;}
.table-cat{padding:2%;}
.table-cat table{width:100%;}
.table-cat table tbody tr td{padding:4%;padding-left:15%;font-size:1.75rem;border-bottom:1px solid #dadada;}
.table-cat table tbody tr th{padding:4%;padding-left:5%;font-size:2rem;border-bottom:1px solid #dadada;}
.table-cat-sm{padding:2%;}
.table-cat-sm table{width:100%;}
.table-cat-sm table tbody tr td{padding:2%;padding-left:10%;font-size:1.5rem;border-bottom:1px solid #dadada;}
.table-cat-sm table tbody tr th{padding:2%;padding-left:5%;font-size:1.5rem;border-bottom:1px solid #dadada;}
.specifications{padding:2%;}
.specifications table{width:100%;}
.specifications table tbody tr td{padding:2%;padding-left:15%;font-size:1.50rem;border-bottom:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada;}
.specifications table tbody tr th{padding:2%;padding-left:5%;font-size:1.6rem;border-bottom:1px solid #dadada;border-left:1px solid #dadada;border-top:1px solid #dadada;}
.description p{padding:4%;font-size:1.50rem;border:1px solid #dadada;white-space:pre-line;}
.cat-list ul li{font-size:1.6rem;text-align:left;padding:1%;}
.cat-list ul li a{text-decoration:underline;}
@media (max-width:600px){.table-data table{width:100%;}
.table-data table tbody tr td{padding:4%;padding-left:5%; font-size:1.3rem;overflow-wrap: break-word;}
.table-data table tbody tr th{padding:3%;padding-right:5%; font-size:1.4rem;overflow-wrap: break-word;}
.specifications table tbody tr td{padding:2%;padding-left:5%;font-size:1.30rem;overflow-wrap: break-word;border-bottom:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada;}
.specifications table tbody tr th{padding:2%;padding-left:5%;font-size:1.4rem;overflow-wrap: break-word;border-bottom:1px solid #dadada;border-left:1px solid #dadada;border-top:1px solid #dadada;}
}
.data{font-size:1.50rem;}
.data span{text-transform: uppercase;}
.title{height:7rem;color:#31aae2;text-align:center;}
.title-fix{font-size:1.5em;text-align:center;}
.centered{margin:0 auto;}
.center{text-align:center;}
.gray{color:#969595;}
.blue{color:#31aae2;}
.black{color:#000.;}
.hr-bl{border:1px solid black;}
.fn-lg{font-size:1.5em;}
.fn-md{font-size:1.1em;text-decoration:underline;}
.fn-m{font-size:1.1em;}
.search-box{overflow:hidden;width:100%;vertical-align:middle;white-space:nowrap;}
.sm-box{width:100%;margin-top:20px;}
.search-box input#search{width:100%;height:40px;background:#fff;border:none;font-size:10pt;float:left;color:#6b6b6b;padding-left:15px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.search-box input#search::-webkit-input-placeholder{color:#6b6b6b;}
.search-box input#search:-moz-placeholder{color:#6b6b6b;}
.search-box input#search::-moz-placeholder{color:#6b6b6b;}
.search-box input#search:-ms-input-placeholder{color:#6b6b6b;}
.search-box button.icon{-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border:none;background:#31aae2;height:40px;width:20%;color:#fff;opacity:0;font-size:10pt;-webkit-transition:all .55s ease;-moz-transition:all .55s ease;-ms-transition:all .55s ease;-o-transition:all .55s ease;transition:all .55s ease;}
.search-box:hover button.icon, .search-box:active button.icon, .search-box:focus button.icon{outline:none;opacity:1;margin-left:-19.5%;}
.search-box:hover button.icon:hover{background:#6b6b6b;}
@media (max-width:1024px){.search-box{margin-top:15px;}
.client-logo span{margin-bottom:15px;}
}
@media(max-width:768px){.box{margin-top:40px;}
.title{height:8rem; font-size: 1.6em;}
}
.crop-sm{overflow:hidden;text-align:center;}
.crop-sm img{object-fit:cover;object-position:center;width:230px;height:140px;margin-bottom:10px;}
.crop{overflow:hidden;text-align:center;}
.crop img{object-fit:cover;object-position:center;width:240px;height:180px;margin-bottom:10px;}
.crop-md{overflow:hidden;text-align:center;}
.crop-md img{object-fit:cover;object-position:center;width:300px;height:220px;margin-bottom:10px;}
.crop-lg{overflow:hidden;text-align:center;padding:0 20px;}
.crop-lg img{object-fit:cover;object-position:center;width:440px;height:300px;margin-bottom:10px;}
.captcha{text-align:center;padding:20px 0;}
.g-recaptcha{display:inline-block;}
.MultiCarousel{float:left;overflow:hidden;width:100%;position:relative;}
.MultiCarousel .MultiCarousel-inner{transition:1.5s ease all;float:left;}
.MultiCarousel .MultiCarousel-inner .item{float:left;}
.MultiCarousel .MultiCarousel-inner .item > div{text-align:center;}
.MultiCarousel .MultiCarousel-inner .item > .divider:before{content:"";position:absolute;left:0;bottom:10%;width:1px;height:80%;border-left:1px solid #dadada;}
.divider-btm:before{content:"";position:absolute;left:10%;bottom:0;height:1px;width:80%;border-bottom:1px solid #dadada;}
.MultiCarousel .leftLst{left:0;}
.MultiCarousel .rightLst{right:0;}
.trans{margin:40px 0;padding:20px 0;border:1px solid rgba(49, 170, 226, 0.8);background-color:#fff;text-align:center;}
.trans h1{height:4rem;text-align:center;font-size:2.5em;color:#31aae2;}
.trans h3{text-align:center;color:#31aae2;}
.trans p{color:#c10303;font-size:1.2em;}
.trans h1 span{color:#c10303;}
.caption{height:150px;}
@media (max-width:1204px){.caption{height:200px;}
}
@media (max-width:992px){.caption{height:auto;}
}
@media (max-width:468px){.trans h1{height:8rem;font-size:1.8em;margin-bottom: 20px;}
.trans h3{font-size:1.4em;}
}
.cat-img{padding:70px 0 300px 0;}
.cat-img h1{font-size:3em;}
.about p{font-size:1.6em;font-weight:300;line-height:30px;text-align:center;}
.sell p, .sell h4{font-size:1.6em;font-weight:300;line-height:32px;text-align:center;padding-bottom:40px;}
.commissions table{border-top:1px solid #bcc0c6;}
.commissions table thead th{border:1px solid #bcc0c6;text-align:center;padding:15px;font-size:1.4em;color:#31aae2;}
.commissions table tr,
.commissions table tr td{border:1px solid #bcc0c6;}
.commissions table tr td{padding:5px;font-size:1.2em;}
@media (max-width:768px){.sell p, .sell h4{font-size:1.4em;}
.commissions table thead th{padding:4px;font-size:1.2em;}
.commissions table tr td{padding:3px;font-size:1em;}
}
.lang{font-size: 1.2em;color: #fff;padding-top: 7px;}
.mia i{font-style:normal;font-size:1.1em;color:#31aae2;}
.locale{color:#31aae2;padding-top:7px;width: 50px;}.locale ul li {font-size: 1.2em; text-align: right;}
.locale .none{display: none;}
.locale ul:hover .none{display: block;}

